.card {
    --p: 32px;
    --h-form: auto;
    --w-form: 380px;
    --input-px: 0.75rem;
    --input-py: 0.65rem;
    --submit-h: 38px;
    --blind-w: 64px;
    --space-y: 0.5rem;
    width: var(--w-form);
    height: var(--h-form);
    max-width: 100%;
    border-radius: 16px;
    background: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    overflow-y: auto;
    padding: var(--p);
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
    user-select: none;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.form {
    order: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
}

    .form .title {
        width: 100%;
        font-size: 1.5rem;
        font-weight: 600;
        margin-top: 0;
        margin-bottom: 1rem;
        padding-top: 0;
        padding-bottom: 1rem;
        color: rgba(0, 0, 0, 0.7);
        border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    }

    .form .label_input {
        white-space: nowrap;
        font-size: 1rem;
        margin-top: calc(var(--space-y) / 2);
        color: rgba(0, 0, 0, 0.9);
        font-weight: 600;
        display: inline;
        text-align: left;
        margin-right: auto;
        position: relative;
        z-index: 99;
        -webkit-user-select: none;
        user-select: none;
    }

    .form .input {
        resize: vertical;
        background: white;
        border: 1px solid #8f8f8f;
        border-radius: 6px;
        outline: none;
        padding: var(--input-py) var(--input-px);
        font-size: 18px;
        width: 100%;
        color: #000000b3;
        margin: var(--space-y) 0;
        transition: all 0.25s ease;
    }

        .form .input#password-input {
            padding-right: calc(var(--blind-w) + var(--input-px) + 4px);
        }

        .form .input:focus {
            border: 1px solid #0969da;
            outline: 0;
            box-shadow: 0 0 0 2px #0969da;
        }

    .form .frg_pss {
        width: 100%;
        display: inline-flex;
        align-items: center;
    }

        .form .frg_pss a {
            background-color: transparent;
            cursor: pointer;
            text-decoration: underline;
            transition: color 0.25s ease;
            color: #000000b3;
            font-weight: 500;
            float: right;
        }

            .form .frg_pss a:hover {
                color: #000;
            }

    .form .submit {
        height: var(--submit-h);
        width: 100%;
        outline: none;
        cursor: pointer;
        background-color: #fff;
        background-image: linear-gradient( -180deg, rgba(255, 255, 255, 0.09) 0%, rgba(17, 17, 17, 0.04) 100% );
        border: 1px solid rgba(22, 22, 22, 0.2);
        font-weight: 500;
        letter-spacing: 0.25px;
        color: #000;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1rem;
        text-align: center;
        text-decoration: none;
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
        -webkit-appearance: button;
        appearance: button;
        margin: var(--space-y) 0 0;
    }

        .form .submit:hover {
            background-image: linear-gradient( -180deg, rgba(255, 255, 255, 0.18) 0%, rgba(17, 17, 17, 0.08) 100% );
            border: 1px solid rgba(22, 22, 22, 0.2);
            color: #111;
        }

.blind-check:checked ~ .form .input[type="text"] {
    /* text-emphasis: circle; */
    -webkit-text-security: disc;
}
